body {
  background: rgb(120, 195, 34);
  background: radial-gradient(
    circle,
    rgba(120, 195, 34, 1) 0%,
    rgba(18, 18, 18, 1) 62%
  );
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: lime;
  font-family: monospace;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.5em;
  -webkit-text-stroke: 1px black;
}

h2 {
  color: orangered;
  font-family: monospace;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}

h3 {
  color: darkorange;
  font-size: 30px;
  -webkit-text-stroke: 1px black;
}

h4 {
  color: greenyellow;
  font-size: 30px;
  -webkit-text-stroke: 1px black;
}

img {
  border-radius: 1rem;
  width: 100%;
  height: auto;
}

label {
  color: lime;
}

th,
tr {
  color: lime;
  vertical-align: middle;
}

input {
  font-style: italic;
}

.add-update-div {
  margin: 0;
  padding: 1.2rem;
}

.searching-bar-div {
  display: grid;
  place-items: center;
  margin: 1rem;
}

.searching-table-div {
  display: grid;
  place-items: center;
  width: 100%;
}

.single-table-div {
  display: grid;
  place-content: center;
  width: 100%;
}

.car-list-table-div {
  display: grid;
  place-content: center;
  width: 100%;
}
